*{
    box-sizing: border-box;
}
body {
    background: #10101B;
    height: 100vh;
}
.half-width {
    background: #222436;
    padding: 30px 0px;
    text-align: center;
}
.numbers {
    margin: 30px 5px;
}
.calc-typed {
margin-top: 20px;
font-size: 45px;
text-align: right;
color: #fff;
}
.calc-button-row {
width: 100%;
padding: 0px 18px;
}
.button {
width: 20%;
background: #425062;
color: #fff;
padding: 20px 0;
margin: 5px;
display: inline-block;
font-size: 25px;
text-align: center;
vertical-align: middle;
margin-right: -4px;
border-radius: 10px;
cursor: pointer;
}
#calc-clear,#calc-equals{
    width: 40%;
    margin-right: 1.5px;
}
#calc-equals{
    margin-left: 10px;    
}
#calc-display-val{
    width: 80%;
    height: 120px;
    color: white;
    text-align: right;
    font-size: 48px;
    background-color: #425062;
    overflow: hidden;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}
